body {
  background-color: #babcbd;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: normal;
  margin: 0;
}
/* Navegación */
nav {
  background-color: #8391ad;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.header {
  background-color: #97a2a8;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content {
  text-align: left;
  z-index: 10;
  padding-left: 5rem;
}

.header-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.header-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* Sobre mi */
.about-section {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  color: #1a202c;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-section p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
